@font-face {
    font-family:  "Emerson";
    src: url("/fonts/emerson.ttf") format("truetype");
}
body{
    background-image: url("/img/papeldeparede.jpg"); 
    background-size: 16in 900px;
    background-repeat:center;
    background-position: 20% 10% 50% ;
}
h1{
    color:white;
    font-family: "Emerson", "Helvetica Neue", "Helvetica", "Arial", "Lucida Grande", "Lucida Sans Unicode";
    text-transform: uppercase;
    font-size:100px;
    text-align: center;
    text-shadow: 10px 10px 20px rgb(33, 0, 249);
}
#botao{
    position:absolute;
    left: 44%;
    padding: 30px;
    background-color: blue;
    border-radius: 10px;
    border-style: unset;
}
#botao:hover{
    border-color: rgb(0, 166, 255);
    font-size: 20px;
    background-color: rgb(15, 15, 125);
    border:rgb(4, 4, 255) solid;
    border-style: inset;
}
#botao a {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-decoration: none;
    font-weight: bolder;
    font-size: 27px;
    text-align: center;
    color: white;
}